@charset "utf-8";
/**************************************************
    wdfcalendar/style.css
    file created in 2013/04/26 21:35:27.
    LastUpdated :2013/04/27 10:54:18.
    author iNo
**************************************************/

table, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

td {
    width: 40px; height: 40px;
    text-align: center;
}

.week-sun,
.day-sun {
    color: #c00;
}

.week-sat,
.day-sat {
    color: #00c;
}

.holiday {
    color: #c0c;
    font-style: italic;
}

.furikae {
    color: #f60;
    font-style: italic;
}

.today {
    background-color: #ffefef;
}

button {
    width: 30px; height: 30px;
    font-size: 20px;
}

/*
vim:fdl=0 fdm=marker:ts=4 sw=4 sts=0:
*/
